<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Properties>
        <Property name="logPath">log/</Property>
        <Property name="rollingFileName">jcAppStore</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%highlight{%-5level}] %d{DEFAULT} %c{1}.%M() - %msg%n%throwable{short.lineNumber}" />
        </Console>
        <RollingFile name="rollingFile" fileName="${logPath}/${rollingFileName}.log" filePattern="${logPath}/${rollingFileName}_%d{yyyy-MM-dd-HH:00}.log">
            <PatternLayout pattern="[%highlight{%-5level}] %d{DEFAULT} %c{1}.%M() - %msg%n%throwable{short.lineNumber}" />
            <Policies>
                <!-- Causes a rollover if the log file is older than the current JVM's start time -->
                <OnStartupTriggeringPolicy />
                <!-- Causes a rollover once the date/time pattern no longer applies to the active file -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <JTextAreaAppender name="JCAppStore_logger" maxLines="250">
            <PatternLayout>
                <pattern>[%-5level] %d{HH:mm ss} %msg</pattern>
            </PatternLayout>
        </JTextAreaAppender>
    </Appenders>
    <Loggers>
        <Logger name="cz.muni.crocs.appletstore.util.LoggerConsole" level="ALL" additivity="false">
            <AppenderRef ref="JCAppStore_logger" level="debug"/>
        </Logger>
        <Root level="ALL" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="rollingFile" />
        </Root>
    </Loggers>
</Configuration>